.primaryButton,
.secondaryButton {
  color: #fff;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  margin: 0;
  display: inline-flex;
  outline: 0;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.primaryButton:disabled,
.secondaryButton:disabled {
  background-color: #a4a5a4;
}
.primaryButton {
  background-color: #226e4f;
}
.primaryButton:hover:enabled {
  background-color: #29b97d;
}

.secondaryButton {
  background-color: #303533;
}

.secondaryButton:hover:enabled {
  background-color: #505251;
}

.buttonLabel {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(44, 29, 29);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(126, 123, 123);
  color: rgb(44, 29, 29);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (max-width: 600px) {
  .primaryButton,
  .secondaryButton {
    font-size: 10px;
  }
}
